/* ____________HEADER__________ */
.header h2 {
	vertical-align: center;
	text-align: center;
}

.header img {
	margin-left: 30px;
	max-width: 50px;
}

* {
	font-family: "Raleway";
	box-sizing: border-box;
}

.block_header {
	text-align: center;
}

.three {
	padding: 50px 20px;
	text-align: center;
}

.three h1 {
	border-radius: 20px;
	font-family: "Merriweather", serif;
	position: relative;
	color: #4e0d10;
	background: linear-gradient(to left, #74a350cf, #fdaf00a6);
	font-size: 2.5em;
	font-weight: normal;
	padding: 10px 40px;
	display: inline-block;
	margin: 0;
	line-height: 1;
}

.three h1:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	left: 0;
	bottom: -15px;
	background: linear-gradient(to left, #4db300cf, #fdaf00a6);
}

@media (max-width: 500px) {
	.three h1 {
		font-size: 1.8em;
	}
}

@media (max-width: 400px) {
	.three h1 {
		font-size: 1.5em;
		padding: 10px 30px;
	}
}

#scrollToTopButton {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 72px;
	height: 51px;
	border-radius: 50%;
	background-color: #2c4800;
	color: #fff;
	font-size: 16px;
	border: none;
	outline: none;
	cursor: pointer;
	z-index: 11;
}

#scrollToTopButton:hover {
	background-color: #310000;
}

.top-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	/* background-color: #00BAF0; */
	background: linear-gradient(to left, #4db300cf, #fdaf00a6);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
	height: 80px;
	padding: 1em;
}

.navigation {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

.navigation a:hover {
	color: #700000;
}

a.navigation__link_1:before,
a.navigation__link_2:before,
a.navigation__link_3:before,
a.navigation__link_4:before {
	content: "";
	display: block;
	height: 1px;
	/* Высота линии */
	background: #4e0d00;
	/* Цвет линии */
	width: 43px;
	/* Ширина линии до наведения */
	margin: 0 auto 10px;
	/* Отступ с боков по центру и снизу */
	transition: 1s;
	/* Время, за которое линия возвращается после наведения */
}

a.navigation__link_1:hover:before,
a.navigation__link_3:hover:before,
a.navigation__link_4:hover:before {
	width: 100px;
	/* Ширина линии при наведении */
	transition: ease-out 1s;
	/* Время, за которое линия расширяется при наведении */
}

a.navigation__link_2:hover:before {
	width: 90px;
	/* Ширина линии при наведении */
	transition: ease-out 1s;
	/* Время, за которое линия расширяется при наведении */
}

/*  CSS код для линии под заголовком */
a.navigation__link_1:after,
a.navigation__link_2:after,
a.navigation__link_3:after,
a.navigation__link_4:after {
	content: "";
	display: block;
	height: 1px;
	/* Высота линии */
	background: #4e0d00;
	/* Цвет линии */
	width: 43px;
	/* Ширина линии до наведения */
	margin: 10px auto 0;
	/* Отступ с боков по центру и сверху */
	transition: 1s;
	/* Время, за которое линия возвращается после наведения */
}

a.navigation__link_1:hover:after,
a.navigation__link_3:hover:after,
a.navigation__link_4:hover:after {
	width: 100px;
	/* Ширина линии при наведении */
	transition: ease-out 1s;
	/* Время, за которое линия расширяется при наведении */
}

a.navigation__link_2:hover:after {
	width: 90px;
	/* Ширина линии при наведении */
	transition: ease-out 1s;
	/* Время, за которое линия расширяется при наведении */
}

.navigation__link_1,
.navigation__link_2,
.navigation__link_3,
.navigation__link_4 {
	font-size: 18px;
	font-weight: 550;
	color: #4e0d00;
	padding: 0 7% 0 7%;
	text-align: center;
	/* Текст по центру */
}

.div_block_text {
	width: 90vw;
	padding: 2% 8% 0 8%;
}

/* _____________MAIN____________ */
.main {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	height: 100%;
}

.the_last_paragraph_of_the_text_block_2 {
	padding: 10px 0 0 0;
}

.transparent-background {
	background-color: rgba(0, 0, 0, 0);
}

.container_with_text {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	flex-direction: column;
}

.a_card_with_a_description_of_the_site {
	width: 87vw;
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(18px);
	-webkit-backdrop-filter: blur(18px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 1rem;
	padding: 1.5rem;
	z-index: 10;
	color: #4e0d10;
	margin: 0 0 37px 0;
}

.a_card_with_a_description_of_the_site_2 {
	width: 87vw;
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(18px);
	-webkit-backdrop-filter: blur(18px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 1rem;
	padding: 1.5rem;
	z-index: 10;
	color: #4e0d10;
	margin: 38px 0 37px 0;
}

.a_card_with_a_description_of_the_site_second_page {
	width: 86vw;
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(18px);
	-webkit-backdrop-filter: blur(18px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 1rem;
	padding: 1.5rem;
	z-index: 10;
	color: #4e0d10;
	margin: 30px 0 37px 0;
}

.a_card_with_a_description_of_the_site_second_page_2 {
	width: 85vw;
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(18px);
	-webkit-backdrop-filter: blur(18px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 1rem;
	padding: 1.5rem;
	z-index: 10;
	color: #4e0d10;
	margin: 44px 0 37px 0;
}

.the_dividing_line_in_the_second_block_of_text_2 {
	padding-bottom: 0.5rem;
	border-bottom: 2px solid rgb(78, 13, 0);
	margin-bottom: 1rem;
	font-size: 1rem;
	line-height: 2.4rem;
	font-family: Rubik, sans-serif;
	font-weight: 300;
}

.the_dividing_line_in_the_second_block_of_text {
	padding-bottom: 0.5rem;
	line-height: 2.2rem;
	border-bottom: 2px solid rgb(78, 13, 0);
}

.title {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.subtitle {
	font-size: 1rem;
	margin-bottom: 2rem;
}

.blob {
	position: absolute;
	width: 600px;
	height: 600px;
	background: linear-gradient(180deg,
			rgb(150 215 99 / 44%) 31.77%,
			#f0c04aa8 100%);
	mix-blend-mode: color-dodge;
	-webkit-animation: move 25s infinite alternate;
	animation: move 25s infinite alternate;
	transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}

.blob:hover {
	width: 600px;
	height: 600px;
	-webkit-filter: blur(30px);
	filter: blur(30px);
	box-shadow: inset 0 0 0 5px rgba(204, 199, 132, 0.6),
		inset 100px 100px 0 0px #6fc06488, inset 200px 200px 0 0px #abdb25a1,
		inset 300px 300px 0 0px #d1b14896;
}

@-webkit-keyframes move {
	from {
		transform: translate(-100px, -50px) rotate(-90deg);
		border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
	}

	to {
		transform: translate(500px, 100px) rotate(-10deg);
		border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
	}
}

@keyframes move {
	from {
		transform: translate(-100px, -50px) rotate(-90deg);
		border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
	}

	to {
		transform: translate(500px, 100px) rotate(-10deg);
		border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
	}
}

.image_nanny {
	margin: 2px 3px 17px 0;
}

/* ____________FOOTER__________ */

.client_pain {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: stretch;
	padding: 1%;
	margin-top: 30px;
}

.buttonup {
	width: 88px;
	height: 118px;
	position: fixed;
	bottom: 20px;
	right: 50px;
}

.lifting_up {
	width: 80px;
	height: 90px;
}

.nomber1,
.nomber2,
.nomber3,
.nomber4 {
	color: #4e0d00;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 50vw;
	padding: 1%;
	font-weight: 500;
}

.img_client_pain {
	width: 8%;
	margin-right: 10px;
}

/* ____________REGISTRATION FORM__________ */
.form2 {
	display: flex;
	width: 80%;
	margin: 0%;
}

.registration-form {
	margin: 100px auto 0 auto;
	padding: 1%;
	width: 70%;
	background-color: #f7f9f2;
}

.registration-form-header-container {
	width: fit-content;
	margin: 0 auto;
}

.registration-form-header {
	color: #406c35;
}

.registration-form-button-container {
	display: flex;
	justify-content: center;
}

a:hover {
	text-decoration: none !important;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

/* ____________PART OF PAIN__________ */
.ball {
	width: 50vw;
	list-style: none;
	margin: 0 auto;
	margin-top: 50px;
}

.ball a {
	width: 100%;
	color: #808285;
	text-decoration: none;
	display: inline-block;
	padding-left: 25px;
	height: 44px;
	line-height: 44px;
	font-size: 20px;
	position: relative;
	transition: 0.3s linear;
}

.ball a:before {
	content: "";
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #a4af97;
	position: absolute;
	left: -30px;
	top: 7px;
}

.ball li {
	position: relative;
}

.ball li:before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #f23942;
	position: absolute;
	top: 12px;
	left: -30px;
	z-index: 2;
	transition: 0.4s ease-in-out;
}

.ball li:hover:before {
	left: -20px;
}

.ball a:hover {
	color: #a4af97;
	cursor: default;
}

#nannys_cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px 0 41px 0px;
}

.nannys_cards_title {
	width: 43vw;
	border-radius: 20px;
	font-family: "Merriweather", serif;
	position: relative;
	color: #4e0d10;
	background: linear-gradient(to left, #4db300cf, #fdaf00a6);
	font-size: 1.5em;
	font-weight: normal;
	padding: 7px 27px;
	display: inline-block;
	margin: 0;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ____________FOOTER__________ */

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background: linear-gradient(to left, #4db300cf, #fdaf00a6);
}

.footer_info {
	display: flex;
	justify-content: space-around;
	padding: 1.2%;
	margin: 10px 0 0 0;
}

.footer_info_about_us,
.footer_info_I_want-to_become_a_nanny {
	font-size: 18px;
	font-weight: 500;
	color: #4e0d00;
}

footer a {
	color: #700000;
}

footer a:hover {
	text-decoration: none;
	color: #960000;
}

footer img {
	max-width: 45px;
	opacity: 0.7;
	padding-left: 5px;
}

.footer_info_page_for_the_become_a_babysitter_form {
	display: flex;
	justify-content: space-evenly;
	padding: 1.2%;
	margin: 10px 0 0 0;
}
/* Геолокация */

#map {
	width: 600px;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.map_title {
	display: flex;
	justify-content: center;
	font-size: 18px;
	font-weight: 550;
	color: #4e0d00;
	margin-left: auto;
	margin-right: auto;
}
.custom-popup {
	color: rgb(0, 0, 0);
	font-size: 18px;
}

.address {
	color: rgb(6, 0, 43);
	font-size: 13px;
}

/* расстояние между строк на 2 странице в карточках */
.gap {
	line-height: 3vh;
}

/* стили для формы заявки няни */
.columnform {
	display: flex;
	flex-direction: row;
	column-gap: 15vh;
}

.format {
	display: flex;
	flex-direction: row;
	column-gap: 7vh;
}

.gap2 {
	display: flex;
	flex-direction: column;
	row-gap: 2.5vh;
}

#inputContainerForm2 {
	display: none;
}

